<h2 class=" d-flex justify-content-center">{{title}}</h2>
<div class="container">
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4 bg-secondary p-4">
      <form [formGroup]="register" (ngSubmit)="getData()">
        <input type="text" class="form-control mt-3" placeholder="username" formControlName="name"/>
        <span *ngIf="vname && vname.invalid && vname.touched" style="color:red;">Enter a valid data?</span>
        <input type="password" class="form-control mt-3" placeholder="password" formControlName="password" />
        <span *ngIf="vpwrd && vpwrd.invalid && vpwrd.touched" style="color:red;">Enter a valid data?</span>
        <input type="text" class="form-control mt-3" placeholder="Email" formControlName="email" />
        <span *ngIf="vemail && vemail.invalid && vemail.touched" style="color:red;">Enter a valid data?</span>
        <button [disabled]="register.invalid" class="btn btn-outline-success btn-primary mt-5 text-white">submit</button>
      </form>
    </div>
  </div>
</div>

<br>
<ul>
  <li>Name : {{details.name}}</li>
  <li>Password : {{details.password}}</li>
  <li>Email:{{details.email}}</li>
</ul>

